.theme-container{
	.page{
		padding-right: 24rem
	}
}
.theme-container.no-sidebar{
	.page{
		padding-right: 0
	}
}
@media (max-width: 1150px) {
	.theme-container{
		.page{
			padding-right: 0
		}
	}
}